<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://images.unsplash.com/photo-1719937206220-f7c76cc23d78?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="imagem vinda do unsplash">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tempora nihil quos sed repellat fugit corporis quaerat, itaque quidem reprehenderit, omnis accusamus aut temporibus blanditiis natus dolorem voluptatem harum nostrum.
      </a>
    </p>
  </div>
</div>
