.container__big-card{
  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 15px;
}

.big-card__photo > img{
  width: 100%;
  min-width: 400px;
}

.big-card__title > h1{
  font-size: 1.5rem;
  margin-top: 15px;
}

.big-card__description{
  margin-top: 10px;
}

.big-card__description > p > a{
  color: gray;
}
