// MENU TITLE
.container__menu-title{
  color: #fff;
}

.container__menu-title > h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 15px 0;
  font-size: 8rem;
}

.container__menu-title > hr{
  margin: 10px 0;
}

