<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card
    photoCover='https://images.unsplash.com/photo-1728649072511-bd946044a63b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fE04alZiTGJUUndzfHxlbnwwfHx8fHw%3D'
    cardTitle='Titulo'
    cardDescription='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, repellat? Facere nulla at impedit eos? Iure nulla dolores consequuntur mollitia aspernatur minima, omnis molestias necessitatibus excepturi culpa dignissimos perferendis ad!'
    >

    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    cardTitle="Titulo"
    photoCover="https://plus.unsplash.com/premium_photo-1728297119061-7b9fbdd39bfd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    >
    </app-small-card>
    <app-small-card
    cardTitle="Titulo"
    photoCover="https://plus.unsplash.com/premium_photo-1728297119061-7b9fbdd39bfd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    >
    </app-small-card>
    <app-small-card
    cardTitle="Titulo"
    photoCover="https://plus.unsplash.com/premium_photo-1728297119061-7b9fbdd39bfd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    >
    </app-small-card>
  </div>
</div>

